body {
  background: rgb(255,0,0);
  background: linear-gradient(0deg, rgba(255,0,0,1) 0%, rgba(0,255,36,1) 100%);
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}

span {
    background-color: yellow; color: black;
  }

a {
    text-decoration: none;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-left: 10px;
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }