table, th, td {
  border: 1px solid rgb(36, 39, 147);
  border-radius: 10px;
  }

table {
  color: rgb(51, 209, 15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

p {
  margin-top: 20px;
}

body  {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255,0,0,1) 100%);
  color: bisque;
  text-align: center;
}

span {
  background-color: yellow; color: black;
}

#lenke {
  text-decoration: none;
}

td {
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-left: 5px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
