body{
    background-image: url('Poker_carpet.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: white;
}

.dice {
    display: grid;
    margin: 10px;
    font-size: 30px;
    padding: 10px;
    margin-right: auto;
    color: white;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}